<div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Leaderboard</h2>
            </div>
<table>
        <tr>
        <td>User Name</td>
        <td>Stock Name</td>
        <td>Stock Price</td>
        <td>Shares</td>
        <td>Total Cost</td>
        </tr>
    {{#each accounts }}
            <tr>
                <td>{{user.username}}</td> 
                <td>{{stock_name}}</td> 
                <td>{{format_currency stock_price}}</td>
                <td>{{shares}}</td>
                <td>{{format_currency (totals stock_price shares)}}</td>
            </tr>
            {{/each}}
</table>
<br>
<br>
<section>
    <h2 class="text-warning" id="header-leaderboard">Enter Stock</h2>
    <form class="new-stock-form">
        <table>
        <tr>
            <td><label for="stock-name">Stock Name</label></td>
            <td><input type="text" id="stock-name" name="stock-name" /></td>
        </tr>
        <tr>
            <td><label for="stock-price">Stock Price</label></td>
            <td><input type="text" id="stock-price" name="stock-price" /></td>
        </tr>
        <tr>
            <td><label for="shares">Shares</label></td>
            <td><input type="text" id="shares" name="shares" /></td>
        </tr>
        <tr><td colspan = "2"><button type="submit" class="btn">Create New</button></td></tr>
        </table>
    </form>
</section>
<script src="/javascript/add-stock.js"></script>
            