{{!-- <div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Leaderboard</h2>
            </div>
            <div class="row align-items-center">
            <div class= "col">
                <h2 class="text-warning" id="header-leaderboard">User Name:</h2>
                <a class="nav-link text-white" href="/profile"></a>
            </div>
      <div class= "col">
        <h2 class="text-warning" id="header-leaderboard">Stock Name:</h2>
      </div>
      <div class="col">
        <h2 class="text-warning" id="header-leaderboard">Stock Price:</h2>
      </div>
      <div class= "col">
        <h2 class="text-warning" id="header-leaderboard">Shares:</h2>
      </div>
      </div>
       <div class="account">
            {{#each accounts }}
            <section class="account">
                {{user.username}} {{stock_name}} {{stock_price}} {{shares}}
            </section>
            {{/each}}
        </div>
    </div>
  </div>
</div> --}}

<div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Leaderboard</h2>
             </div>
<table class="table" >
       <tr class="row">
        <td class="text-warning col" id="header-leaderboard">User Name</td>
        <td class="text-warning col" id="header-leaderboard">Stock Name</td>
        <td class="text-warning col" id="header-leaderboard">Stock Price</td>
        <td class="text-warning col" id="header-leaderboard">Shares</td>
        <td class="text-warning col" id="header-leaderboard">Total Cost</td>
        </tr>
    {{#each accounts }}
    
            <tr class="row">
                <td class="text-warning col" id="header-leaderboard">{{user.username}}</td> 
                <td class="text-warning col" id="header-leaderboard">{{stock_name}}</td> 
                <td class="text-warning col" id="header-leaderboard">{{format_currency stock_price}}</td>
                <td class="text-warning col" id="header-leaderboard">{{shares}}</td>
                <td class="text-warning col" id="header-leaderboard">{{format_currency (totals stock_price shares)}}</td>
            </tr>
            {{/each}}
  </table>
            