<div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Leaderboard</h2>
             </div>
<table class="table" >
       <tr class="row">
        <td class="text-warning col" id="header-leaderboard">User Name</td>
        <td class="text-warning col" id="header-leaderboard">Stock Name</td>
        <td class="text-warning col" id="header-leaderboard">Stock Price</td>
        <td class="text-warning col" id="header-leaderboard">Shares</td>
        <td class="text-warning col" id="header-leaderboard">Total Cost</td>
        </tr>
    {{#each accounts }}
    
            <tr class="row">
                <td class="text-warning col" id="header-leaderboard">{{user.username}}</td> 
                <td class="text-warning col" id="header-leaderboard">{{stock_name}}</td> 
                <td class="text-warning col" id="header-leaderboard">{{format_currency stock_price}}</td>
                <td class="text-warning col" id="header-leaderboard">{{shares}}</td>
                <td class="text-warning col" id="header-leaderboard">{{format_currency (totals stock_price shares)}}</td>
            </tr>
            {{/each}}
</table>
<br>
<br>
<section>
    <h2 class="text-warning" id="header-leaderboard">Enter Stock</h2>
    <form class="new-stock-form">
        <table>
        <tr>
            <td><label for="stock-name">Stock Name</label></td>
            <td><input type="text" id="stock-name" name="stock-name" /></td>
        </tr>
        <tr>
            <td><label for="stock-price">Stock Price</label></td>
            <td><input type="text" id="stock-price" name="stock-price" /></td>
        </tr>
        <tr>
            <td><label for="shares">Shares</label></td>
            <td><input type="text" id="shares" name="shares" /></td>
        </tr>
        <tr><td colspan = "2"><button type="submit" class="btn">Create New</button></td></tr>
        </table>
    </form>
</section>
<script src="/javascript/add-stock.js"></script>
            