{{!-- <div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Leaderboard</h2>
            </div>
            <div class="row align-items-center">
            <div class= "col">
                <h2 class="text-warning" id="header-leaderboard">User Name:</h2>
                <a class="nav-link text-white" href="/profile"></a>
            </div>
      <div class= "col">
        <h2 class="text-warning" id="header-leaderboard">Stock Name:</h2>
      </div>
      <div class="col">
        <h2 class="text-warning" id="header-leaderboard">Stock Price:</h2>
      </div>
      <div class= "col">
        <h2 class="text-warning" id="header-leaderboard">Shares:</h2>
      </div>
      </div>
       <div class="account">
            {{#each accounts }}
            <section class="account">
                {{user.username}} {{stock_name}} {{stock_price}} {{shares}}
            </section>
            {{/each}}
        </div>
    </div>
  </div>
</div> --}}



<div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Leaderboard</h2>
            </div>
<table>
    <th>
        <tr>
        <td>User Name</td>
        <td>Stock Name</td>
        <td>Stock Price</td>
        <td>Shares</td>
        </tr>
    </th>
     {{#each accounts }}
            <tr>
                <td>{{user.username}}</td> 
                <td>{{stock_name}}</td> 
                <td>{{stock_price}}</td>
                <td>{{shares}}</td>
            </tr>
            {{/each}}
</table>
            