<div class="container-title">
    <div class="row align-items-center">
        <div class="col">
            <div id="header-leaderboard-container">
                <h2 class="text-warning" id="header-leaderboard">Portfolio</h2>
             </div>
<table class="table" >
       <tr class="row">
        <td class="text-warning col" id="header-leaderboard">User Name</td>
        <td class="text-warning col" id="header-leaderboard">Stock Name</td>
        <td class="text-warning col" id="header-leaderboard">Stock Price</td>
        <td class="text-warning col" id="header-leaderboard">Shares</td>
        <td class="text-warning col" id="header-leaderboard">Total Cost</td>
        </tr>
    {{#each profiles }}
            <tr class="row">
                <td class="text-warning col" id="header-leaderboard">{{user.username}}</td> 
                <td class="text-warning col" id="header-leaderboard">{{stock_name}}</td> 
                <td class="text-warning col" id="header-leaderboard">{{format_currency stock_price}}</td>
                <td class="text-warning col" id="header-leaderboard">{{shares}}</td>
                <td class="text-warning col" id="header-leaderboard">{{format_currency (totals stock_price shares)}}</td>
            </tr>
            {{/each}}
            
</table>
